*
{
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   overflow: hidden;

}

body
{
    background-color: #f0f4f5;
}
nav
{
    display:flex ;
    align-items: center;
    justify-content: center;
    column-gap: 50%;
}

.logo
{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-self: start;    
}



nav ul
{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul li
{
    list-style: none;
    font-size: 20px;
    font-weight: 900;
}

nav ul li a
{
    text-decoration: none;
    color: black;
}

/* Main */

.container
{
    display: flex;
   align-items: center;
   margin-left: 250px;
    column-gap: 400px;
}

.left-section
{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
}

.left-section img[alt="stethoscope"]
{
    display: flex;

    flex-direction: column;
    position: absolute;
    right: 40vw;
    top: 33vh;
    height: 500px;
    width: 600px;
}



.img1
{
    height: 30px;
    width: 30px;
}

.left-section h1
{   
    
    font-size: 50px;
    font-weight: 700;
}

.left-section p
{
    font-size: 20px;
}

.left-section button
{
    
    background-color: #00d68f;
    padding: 10px 25px;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 400;
    color: white;   
}

.img2
{
    height: 30px;
    width: 30px;
    display: flex;
    align-self: flex-end;
    
}

.mouse
{
    display: flex;
    align-self: flex-end;
    position: absolute;
    bottom: 5vh;
    right: 48vw;
    
}




.right-section
{
    display: flex;
    
}

img[alt="img1"]
{
    
    height: 400px;
    width: 500px;  
    position: absolute;
     top: 45vh;
    left: 148vh; 
    z-index:-2;
}



img[alt="img3"]
{
    display: flex;
    
    height: 700px;
    width: 700px;
        z-index:-1;
   
} 

img[alt="img2"]
{
    
    height: 500px;
    width: 500px;
    position: absolute;
    top: 30vh;
   left: 145vh; 
    z-index:-1;
}

